<div class="wrapper">
    <!-- Page Content -->
    <div id="content">
        <div class="container">
            <div class="d-flex justify-content-between mb-5">
                <h2>Dashboard</h2>

                <h3>Refferal code: <strong class="mx-1 text-success">{{refferalcode}}</strong></h3>

            </div>

            <div class="row justify-content-center">
                <!-- Card 1 -->
                <div class="col-md-3 mb-3">
                    <div class="card ">
                        
                            <h3 class="card-title">Balance</h3>
                            <p class="card-text">{{userBlance}}</p>
                        
                    </div>
                </div>

                <!-- Card 2 -->
                <div class="col-md-3 mb-3">
                    <div class="card">
                        
                            <h3 class="card-title"> Staked Balance</h3>
                            <p class="card-text">{{totalStakedBalance}}</p>
                        
                    </div>
                </div>

                <!-- Card 3 -->
                <div class="col-md-3 mb-3">
                    <div class="card">
                        
                            <h3 class="card-title"> Withdrawal Balance</h3>
                            <p class="card-text">{{totalWithdrawalBalance}}</p>
                       
                    </div>
                </div>

                <!-- Card 4 -->
                <div class="col-md-3 mb-3">
                    <div class="card">
                        
                            <h3 class="card-title"> Team Turnover Balance</h3>
                            <p class="card-text">{{totalTeamTurnoverBalance}}</p>
                        
                    </div>
                </div>

                <!-- Card 5 -->
                <div class="col-md-3 mb-3">
                    <div class="card">
                        
                            <h3 class="card-title"> Direct Team Turnover Balance</h3>
                            <p class="card-text">{{totalDirectTeamTurnoverBalance}}</p>
                        
                    </div>
                </div>

                <!-- Card 6 -->
                <div class="col-md-3 mb-3">
                    <div class="card">
                        
                            <h3 class="card-title"> Internal Transfer Balance</h3>
                            <p class="card-text">{{totalInternalTransferBalance}}</p>
                       
                    </div>
                </div>
                <!-- Card 7 -->
                <div class="col-md-3 mb-3">
                    <div class="card">
                        
                            <h3 class="card-title"> Unlock Reward Balance</h3>
                            <p class="card-text">{{totalUnlockRewardBalnce}}</p>
                       
                    </div>
                </div>
                <!-- Card 8 -->
                <div class="col-md-3 mb-3">
                    <div class="card">
                        
                            <h3 class="card-title"> Referral Reward Balance</h3>
                            <p class="card-text">{{totalReferralRewardBalance}}</p>
                        
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="card">
                        
                            <h3 class="card-title"> Reward Balance</h3>
                            <p class="card-text">{{totalRewardBalance}}</p>
                        
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="card">
                        
                            <h3 class="card-title"> Reward Balance</h3>
                            <p class="card-text">{{totalRewardBalance}}</p>
                        
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="card">
                        
                            <h3 class="card-title">Avaliable Rewards</h3>
                            <p class="card-text">{{avaliableRewards}}</p>
                        
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</div>