<!-- wallet.component.html -->

<div class="wrapper">
    <div id="content">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Staking Card -->
                <div class="card shadow-sm mt-5 col-12 col-md-6">
                    <div class="card-header text-white">
                        <h2 class="card-title text-center mb-0">Deposit Balance</h2>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="depositForm" (ngSubmit)="deposit()">
                            <div class="form-group mb-3">
                                <label for="stakeAmount">Amount to Stake:</label>
                                <input type="number" id="stakeAmount" class="form-control" formControlName="amount" required />
                                <div *ngIf="depositForm.get('amount')?.invalid && (depositForm.get('amount')?.touched || depositForm.get('amount')?.dirty)" class="text-danger">
                                    Amount is required and must be greater than 100.
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block" [disabled]="depositForm.invalid">
                                Stake
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <!-- Staking Card -->
                <div class="card shadow-sm mt-5 col-12 col-md-6">
                    <div class="card-header text-white">
                        <h2 class="card-title text-center mb-0">Stake Balance</h2>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="stakeForm" (ngSubmit)="stake()">
                            <div class="form-group mb-3">
                                <label for="stakeAmount">Amount to Stake:</label>
                                <input type="number" id="stakeAmount" class="form-control" formControlName="amount" required />
                                <div *ngIf="stakeForm.get('amount')?.invalid && (stakeForm.get('amount')?.touched || stakeForm.get('amount')?.dirty)" class="text-danger">
                                    Amount is required and must be greater than 0.
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block" [disabled]="stakeForm.invalid">
                                Stake
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <!-- Withdrawal Card -->
                <div class="card shadow-sm mt-5 col-12 col-md-6">
                    <div class="card-header text-white">
                        <h2 class="card-title text-center mb-0">Withdraw USDT</h2>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="withdrawForm" (ngSubmit)="withdraw()">
                            <div class="form-group mb-3">
                                <label for="withdrawAmount">Amount to Withdraw:</label>
                                <input type="number" id="withdrawAmount" class="form-control" formControlName="amount" required />
                                <div *ngIf="withdrawForm.get('amount')?.invalid && (withdrawForm.get('amount')?.touched || withdrawForm.get('amount')?.dirty)" class="text-danger">
                                    Amount is required and must be greater than 0.
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <label for="withdrawPassword">Password:</label>
                                <input type="password" id="withdrawPassword" class="form-control" formControlName="password" required />
                                <div *ngIf="withdrawForm.get('password')?.invalid && (withdrawForm.get('password')?.touched || withdrawForm.get('password')?.dirty)" class="text-danger">
                                    Password is required.
                                </div>
                            </div>
                            <button type="submit" class="btn btn-danger btn-block" [disabled]="withdrawForm.invalid">
                                Withdraw
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <!-- Convert Wallet -->
                <div class="card shadow-sm mt-5 col-12 col-md-6">
                    <div class="card-header text-white">
                        <h2 class="card-title text-center mb-0">Convert Wallet</h2>
                    </div>
                    <div class="card-body">
                        <div class="form-group mb-3">
                            <h3 for="amount">Conversion Amount: {{avilableBalance}} </h3>
                        </div>
                        <button type="button" class="btn btn-success btn-block" (click)="convertWallet()">
                            Convert
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
