<!-- wallet.component.html -->

<div class="wrapper">
    <div id="content">
        <div class="container">
        

            <div class="row justify-content-center">
                <!-- Convert Wallet -->
                <div class="card shadow-sm mt-5 col-12 col-md-6">
                    <div class="card-header text-white">
                        <h2 class="card-title text-center mb-0">Convert Wallet</h2>
                    </div>
                    <div class="card-body">
                        <div class="form-group mb-3">
                            <h3 for="amount">Avaliable Rewards: {{avilableBalance}} </h3>
                        </div>
                        <button type="button" class="btn btn-success btn-block" (click)="convertWallet()">
                            Convert
                        </button>
                    </div>
                </div>
            </div>


            <table  class="table-data mt-4">
                <thead>
                  <tr>
                    <th>S.no</th>
                    <th>Transaction Type</th>
                    <th>Credited Amount</th>
                    <th>Debited Amount</th>
                    <th>Current Balance</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let transaction of transactions; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ transaction.transactionType }}</td>
                    <td>
                      <span *ngIf="transaction.amount > 0">{{ transaction.amount ? transaction.amount : '-' }}</span>
                    </td>
                    <td>
                      <span *ngIf="transaction.amount < 0">{{ transaction.amount ? transaction.amount : '-' }}</span>
                    </td>
                    <td>{{ transaction.currentBalance }}</td>
                    <td>{{ transaction.description }}</td>
                    <td>{{ transaction.status }}</td>
                    <td>{{ transaction.createdAt | date: 'medium' }}</td>
                  </tr>
                </tbody>
              </table>
        
              <div *ngIf="!loading && transactions.length === 0">No transactions available.</div>
        
              <!-- Paginator -->
              <mat-paginator class="pagination" [length]="totalTransactions"
              [pageSize]="sizePerPage"
              [pageSizeOptions]="[5, 10, 20]"
              (page)="onPageChange($event)">>
              </mat-paginator>
        </div>
    </div>
</div>
