<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 px-4 px-lg-5">
    <a routerLink="/" class="navbar-brand d-flex align-items-center">
        <img src="assets/logo.png" alt="Logo" width="70" height="70" class="me-2">
    </a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-4 py-lg-0">
            <a routerLink="/dashboard" class="nav-item nav-link active">Dashboard</a>
            <a href="#about" class="nav-item nav-link">About</a>
            <a href="#service" class="nav-item nav-link">Service</a>
            <!-- <a href="#roadmap" class="nav-item nav-link">Roadmap</a> -->

            <!-- <a href="#contact" class="nav-item nav-link">Contact</a> -->
        </div>
        <div class="h-100 d-lg-inline-flex align-items-center d-none">
            <a routerLink="/login" class="btn btn-success">Login</a>
            <a routerLink="/signup" class="btn btn-primary mx-4">SignUp</a>

        </div>
    </div>
</nav>
<!-- Navbar End -->


<!-- Header Start -->
<div class="container-fluid hero-header bg-light py-5 mb-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <h1 class="display-4 mb-3 animated slideInDown">Secure Your Future with Gold Investments</h1>
                <p class="animated slideInDown">TSecure Your Future with Gold Investments" highlights the essential role
                    of gold in protecting wealth. With Boost Bullion, clients gain access to ethical gold trading,
                    ensuring a stable foundation for their financial future through trusted investment strategies.</p>
                <a href="" class="btn btn-primary py-3 px-4 animated slideInDown">Explore More</a>
            </div>
            <div class="col-lg-6 animated fadeIn">
                <img class="img-fluid animated pulse infinite" style="animation-duration: 3s;"
                    src="assets/img/hero-1.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Header End -->


<!-- About Start -->
<div class="container-xxl py-5" id="about">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <img class="img-fluid" src="assets/img/about.png" alt="">
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <h1 class="display-6">About Us</h1>
                    <p class="text-primary fs-5 mb-4">Boost Bullion Gold Trading Company</p>
                    <p>Boost Bullion Gold Trading Company is a premier gold trading and investment firm dedicated to
                        providing secure, transparent, and reliable access to the world of precious metals. With a
                        strong foundation in ethical practices and a commitment to excellence, we specialize in the
                        trading of gold bullion, offering a wide range of services tailored to meet the needs of
                        institutional, corporate, and individual investors alike.</p>
                    <div class="d-flex align-items-center mb-2">
                        <i class="fa fa-check bg-light text-primary btn-sm-square rounded-circle me-3 fw-bold"></i>
                        <span>Ethical practices and commitment to excellence</span>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <i class="fa fa-check bg-light text-primary btn-sm-square rounded-circle me-3 fw-bold"></i>
                        <span>Specializing in gold bullion trading</span>
                    </div>
                    <div class="d-flex align-items-center mb-4">
                        <i class="fa fa-check bg-light text-primary btn-sm-square rounded-circle me-3 fw-bold"></i>
                        <span>Services for all types of investors</span>
                    </div>
                    <a class="btn btn-primary py-3 px-4" href="">Read More</a>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- About End -->


<!-- Facts Start -->
<div class="container-xxl bg-light py-5 my-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-4 col-md-6 text-center wow fadeIn" data-wow-delay="0.1s">
                <img class="img-fluid mb-4" src="assets/img/icon-9.png" alt="">
                <h1 class="display-4" data-toggle="counter-up">123456</h1>
                <p class="fs-5 text-primary mb-0">Today Transactions</p>
            </div>
            <div class="col-lg-4 col-md-6 text-center wow fadeIn" data-wow-delay="0.3s">
                <img class="img-fluid mb-4" src="assets/img/icon-10.png" alt="">
                <h1 class="display-4" data-toggle="counter-up">123456</h1>
                <p class="fs-5 text-primary mb-0">Monthly Transactions</p>
            </div>
            <div class="col-lg-4 col-md-6 text-center wow fadeIn" data-wow-delay="0.5s">
                <img class="img-fluid mb-4" src="assets/img/icon-2.png" alt="">
                <h1 class="display-4" data-toggle="counter-up">123456</h1>
                <p class="fs-5 text-primary mb-0">Total Transactions</p>
            </div>
        </div>
    </div>
</div>
<!-- Facts End -->


<!-- Features Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-6">Why Join Our Affiliate Program!</h1>
            <p class="text-primary fs-5 mb-5">Unlock Opportunities with Boost Bullion</p>
        </div>
        <div class="row g-5">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="d-flex align-items-start">
                    <img class="img-fluid flex-shrink-0" src="assets/img/icon-1.png" alt="">
                    <div class="ps-4">
                        <h5 class="mb-3">Competitive Commissions</h5>
                        <span>Earn attractive commissions on every successful referral and investment made through your
                            affiliate link.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="d-flex align-items-start">
                    <img class="img-fluid flex-shrink-0" src="assets/img/icon-2.png" alt="">
                    <div class="ps-4">
                        <h5 class="mb-3">Exclusive Marketing Materials</h5>
                        <span>Gain access to a range of high-quality marketing materials, including banners, brochures,
                            and educational content.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="d-flex align-items-start">
                    <img class="img-fluid flex-shrink-0" src="assets/img/icon-3.png" alt="">
                    <div class="ps-4">
                        <h5 class="mb-3">Training and Support</h5>
                        <span>Receive comprehensive training on our products, sales techniques, and effective marketing
                            strategies.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="d-flex align-items-start">
                    <img class="img-fluid flex-shrink-0" src="assets/img/icon-4.png" alt="">
                    <div class="ps-4">
                        <h5 class="mb-3">Real-Time Tracking</h5>
                        <span>Monitor your performance with our user-friendly dashboard that provides real-time tracking
                            of clicks, conversions, and earnings.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="d-flex align-items-start">
                    <img class="img-fluid flex-shrink-0" src="assets/img/icon-5.png" alt="">
                    <div class="ps-4">
                        <h5 class="mb-3">Access to Premium Investment Products</h5>
                        <span>Promote our Gold Bonds, which offer competitive returns and a secure investment
                            opportunity for clients.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="d-flex align-items-start">
                    <img class="img-fluid flex-shrink-0" src="assets/img/icon-6.png" alt="">
                    <div class="ps-4">
                        <h5 class="mb-3">Network and Community</h5>
                        <span>Join a community of like-minded affiliates who share tips, strategies, and
                            experiences.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Features End -->


<!-- Service Start -->
<div class="container-xxl bg-light py-5 my-5" id="service">
    <div class="container py-5">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-6">What We Offer</h1>
            <p class="text-primary fs-5 mb-5">At Boost Bullion, we pride ourselves on our wide array of services, which
                include:</p>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-white p-5">
                    <img class="img-fluid mb-4" src="assets/img/icon-1.png" alt="">
                    <h5 class="mb-3">Gold Bullion Trading</h5>
                    <p>We provide access to gold bars, coins, and other bullion products, helping clients diversify
                        their portfolios and protect their wealth.</p>
                    <a href="">Read More <i class="fa fa-arrow-right ms-2"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item bg-white p-5">
                    <img class="img-fluid mb-4" src="assets/img/icon-2.png" alt="">
                    <h5 class="mb-3">Gold Lending and Leasing Solutions</h5>
                    <p>Offering innovative financial services, we allow clients to leverage their gold holdings for
                        liquidity while earning returns through our lending options.</p>
                    <a href="">Read More <i class="fa fa-arrow-right ms-2"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item bg-white p-5">
                    <img class="img-fluid mb-4" src="assets/img/icon-3.png" alt="">
                    <h5 class="mb-3">Secure Storage and Custody</h5>
                    <p>We offer safe, insured storage solutions for our clients’ bullion in top-tier vaults around the
                        world, ensuring the highest levels of security.</p>
                    <a href="">Read More <i class="fa fa-arrow-right ms-2"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-white p-5">
                    <img class="img-fluid mb-4" src="assets/img/icon-4.png" alt="">
                    <h5 class="mb-3">Consultation and Advisory Services</h5>
                    <p>Our experienced team of experts provides personalized investment advice and strategic insights
                        into the bullion market, enabling clients to make informed decisions.</p>
                    <a href="">Read More <i class="fa fa-arrow-right ms-2"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Service End -->


<!-- Roadmap Start -->
<!-- <div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-6">Roadmap</h1>
            <p class="text-primary fs-5 mb-5">We Translate Your Dream Into Reality</p>
        </div>
        <div class="owl-carousel roadmap-carousel wow fadeInUp" data-wow-delay="0.1s">
            <div class="roadmap-item">
                <div class="roadmap-point"><span></span></div>
                <h5>January 2045</h5>
                <span>Diam dolor ipsum sit amet erat ipsum lorem sit</span>
            </div>
            <div class="roadmap-item">
                <div class="roadmap-point"><span></span></div>
                <h5>March 2045</h5>
                <span>Diam dolor ipsum sit amet erat ipsum lorem sit</span>
            </div>
            <div class="roadmap-item">
                <div class="roadmap-point"><span></span></div>
                <h5>May 2045</h5>
                <span>Diam dolor ipsum sit amet erat ipsum lorem sit</span>
            </div>
            <div class="roadmap-item">
                <div class="roadmap-point"><span></span></div>
                <h5>July 2045</h5>
                <span>Diam dolor ipsum sit amet erat ipsum lorem sit</span>
            </div>
            <div class="roadmap-item">
                <div class="roadmap-point"><span></span></div>
                <h5>September 2045</h5>
                <span>Diam dolor ipsum sit amet erat ipsum lorem sit</span>
            </div>
            <div class="roadmap-item">
                <div class="roadmap-point"><span></span></div>
                <h5>November 2045</h5>
                <span>Diam dolor ipsum sit amet erat ipsum lorem sit</span>
            </div>
        </div>
    </div>
</div> -->
<!-- Roadmap End -->


<!-- Token Sale Start -->
<!-- <div class="container-xxl bg-light py-5 my-5">
    <div class="container py-5">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-6">Token Sale</h1>
            <p class="text-primary fs-5 mb-5">Token Sale Countdown</p>
        </div>
        <div class="row g-3">
            <div class="col-6 col-md-3 wow fadeIn" data-wow-delay="0.1s">
                <div class="bg-white text-center p-3">
                    <h1 class="mb-0">0</h1>
                    <span class="text-primary fs-5">Days</span>
                </div>
            </div>
            <div class="col-6 col-md-3 wow fadeIn" data-wow-delay="0.3s">
                <div class="bg-white text-center p-3">
                    <h1 class="mb-0">0</h1>
                    <span class="text-primary fs-5">Hours</span>
                </div>
            </div>
            <div class="col-6 col-md-3 wow fadeIn" data-wow-delay="0.5s">
                <div class="bg-white text-center p-3">
                    <h1 class="mb-0">0</h1>
                    <span class="text-primary fs-5">Minutes</span>
                </div>
            </div>
            <div class="col-6 col-md-3 wow fadeIn" data-wow-delay="0.7s">
                <div class="bg-white text-center p-3">
                    <h1 class="mb-0">0</h1>
                    <span class="text-primary fs-5">Seconds</span>
                </div>
            </div>
            <div class="col-12 text-center py-4">
                <a class="btn btn-primary py-3 px-4" href="">Buy Token</a>
            </div>
            <div class="col-12 text-center">
                <img class="img-fluid m-1" src="assets/img/payment-1.png" alt="" style="width: 50px;">
                <img class="img-fluid m-1" src="assets/img/payment-2.png" alt="" style="width: 50px;">
                <img class="img-fluid m-1" src="assets/img/payment-3.png" alt="" style="width: 50px;">
                <img class="img-fluid m-1" src="assets/img/payment-4.png" alt="" style="width: 50px;">
            </div>
        </div>
    </div>
</div> -->
<!-- Token Sale Start -->


<!-- FAQs Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-6">FAQs</h1>
            <p class="text-primary fs-5 mb-5">Frequently Asked Questions</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.1s">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                How to build a website?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Dolor nonumy tempor elitr et rebum ipsum sit duo duo. Diam sed sed magna et magna
                                diam aliquyam amet dolore ipsum erat duo. Sit rebum magna duo labore no diam.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.2s">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                How long will it take to get a new website?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Dolor nonumy tempor elitr et rebum ipsum sit duo duo. Diam sed sed magna et magna
                                diam aliquyam amet dolore ipsum erat duo. Sit rebum magna duo labore no diam.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.3s">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Do you only create HTML websites?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Dolor nonumy tempor elitr et rebum ipsum sit duo duo. Diam sed sed magna et magna
                                diam aliquyam amet dolore ipsum erat duo. Sit rebum magna duo labore no diam.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.4s">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                Will my website be mobile-friendly?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Dolor nonumy tempor elitr et rebum ipsum sit duo duo. Diam sed sed magna et magna
                                diam aliquyam amet dolore ipsum erat duo. Sit rebum magna duo labore no diam.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.5s">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Will you maintain my site for me?
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Dolor nonumy tempor elitr et rebum ipsum sit duo duo. Diam sed sed magna et magna
                                diam aliquyam amet dolore ipsum erat duo. Sit rebum magna duo labore no diam.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.6s">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                I’m on a strict budget. Do you have any low cost options?
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Dolor nonumy tempor elitr et rebum ipsum sit duo duo. Diam sed sed magna et magna
                                diam aliquyam amet dolore ipsum erat duo. Sit rebum magna duo labore no diam.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.7s">
                        <h2 class="accordion-header" id="headingSeven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                Will you maintain my site for me?
                            </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Dolor nonumy tempor elitr et rebum ipsum sit duo duo. Diam sed sed magna et magna
                                diam aliquyam amet dolore ipsum erat duo. Sit rebum magna duo labore no diam.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.8s">
                        <h2 class="accordion-header" id="headingEight">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                I’m on a strict budget. Do you have any low cost options?
                            </button>
                        </h2>
                        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Dolor nonumy tempor elitr et rebum ipsum sit duo duo. Diam sed sed magna et magna
                                diam aliquyam amet dolore ipsum erat duo. Sit rebum magna duo labore no diam.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FAQs Start -->


<!-- Footer Start -->
<div class="container-fluid bg-light footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-md-6">
                <h1 class="text-primary mb-4"><img class="img-fluid me-2" src="assets/logo.png" alt=""
                        style="width: 45px;"></h1>
                <span>DAt Boost Bullion Gold Trading Company, our mission is to empower investors with secure and
                    transparent access to the global gold market, providing exceptional value through responsible
                    sourcing, ethical trading, and innovative financial solutions. We strive to help our clients
                    safeguard their wealth, diversify their portfolios, and achieve long-term financial stability by
                    delivering the highest standards of integrity and service in the bullion industry.</span>
            </div>
            <div class="col-md-6">
                <h5 class="mb-4">Newsletter</h5>
                <p>Clita erat ipsum et lorem et sit, sed stet lorem sit clita.</p>
                <div class="position-relative">
                    <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text"
                        placeholder="Your email">
                    <button type="button"
                        class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="mb-4">Get In Touch</h5>
                <p><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>
                <p><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                <p><i class="fa fa-envelope me-3"></i>info@example.com</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="mb-4">Our Services</h5>
                <a class="btn btn-link" href="">Currency Wallet</a>
                <a class="btn btn-link" href="">Currency Transaction</a>
                <a class="btn btn-link" href="">Bitcoin Investment</a>
                <a class="btn btn-link" href="">Token Sale</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="mb-4">Quick Links</h5>
                <a class="btn btn-link" href="">About Us</a>
                <a class="btn btn-link" href="">Contact Us</a>
                <a class="btn btn-link" href="">Our Services</a>
                <a class="btn btn-link" href="">Terms & Condition</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="mb-4">Follow Us</h5>
                <div class="d-flex">
                    <a class="btn btn-square rounded-circle me-1" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square rounded-circle me-1" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square rounded-circle me-1" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-square rounded-circle me-1" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a href="#">Your Site Name</a>, All Right Reserved.
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Designed By <a href="https://htmlcodex.com">HTML Codex</a> Distributed By <a
                        href="https://themewagon.com">ThemeWagon</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>