<!-- wallet.component.html -->

<div class="wrapper">
    <div id="content">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Create Transaction Password -->
                <div class="card shadow-sm mt-5 col-12 col-md-6">
                    <div class="card-header text-white">
                        <h2 class="card-title text-center mb-0">Create Transaction Password</h2>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="createTransactionPasswordForm" (ngSubmit)="createTransactionPassword()">
                            <div class="form-group mb-3">
                                <label for="password">Password:</label>
                                <input type="password" id="password" class="form-control" formControlName="password" required />
                            </div>
                            <div class="form-group mb-3">
                                <label for="cnfPassword">Confirm Password:</label>
                                <input type="password" id="cnfPassword" class="form-control" formControlName="cnfPassword" required />
                            </div>
                            <button type="submit" class="btn btn-primary btn-block" [disabled]="createTransactionPasswordForm.invalid">
                                Create Password
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <!-- Change Transaction Password -->
                <div class="card shadow-sm mt-5 col-12 col-md-6">
                    <div class="card-header text-white">
                        <h2 class="card-title text-center mb-0">Change Transaction Password</h2>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="changeTransactionPasswordForm" (ngSubmit)="changeTransactionPassword()">
                            <div class="form-group mb-3">
                                <label for="prevPassword">Previous Password:</label>
                                <input type="password" id="prevPassword" class="form-control" formControlName="prevPassword" required />
                            </div>
                            <div class="form-group mb-3">
                                <label for="newPassword">New Password:</label>
                                <input type="password" id="newPassword" class="form-control" formControlName="newPassword" required />
                            </div>
                            <div class="form-group mb-3">
                                <label for="cnfPassword">Confirm New Password:</label>
                                <input type="password" id="cnfPassword" class="form-control" formControlName="cnfPassword" required />
                            </div>
                            <button type="submit" class="btn btn-warning btn-block" [disabled]="changeTransactionPasswordForm.invalid">
                                Change Password
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <!-- Update Wallet Address -->
                <div class="card shadow-sm mt-5 col-12 col-md-6">
                    <div class="card-header text-white">
                        <h2 class="card-title text-center mb-0">Update Wallet Address</h2>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="updateWalletAddressForm" (ngSubmit)="updateWalletAddress()">
                            <div class="form-group mb-3">
                                <label for="address">New Address:</label>
                                <input type="text" id="address" class="form-control" formControlName="address" required />
                            </div>
                            <button type="submit" class="btn btn-info btn-block" [disabled]="updateWalletAddressForm.invalid">
                                Update Address
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <!-- Convert Wallet -->
                <div class="card shadow-sm mt-5 col-12 col-md-6">
                    <div class="card-header text-white">
                        <h2 class="card-title text-center mb-0">Convert Wallet</h2>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="convertWalletForm" (ngSubmit)="convertWallet()">
                            <div class="form-group mb-3">
                                <label for="amount">Conversion Amount:</label>
                                <input type="number" id="amount" class="form-control" formControlName="amount" required />
                            </div>
                            <button type="submit" class="btn btn-success btn-block" [disabled]="convertWalletForm.invalid">
                                Convert
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
