/* Default light mode theme */
:root {
  --background-color: white;
  --text-color: black;
  --button-bg-color: #fff;
  --button-text-color: #000;
  --card-bg-color: #F2F8FE;
  --border-color-light: transparent;
  --card-gradient-light: none;
  --header-color-light: black;
  --header-bg-color-light: transparent;
  --header-color-dark: #F2F8FE;
  --header-bg-color-dark: transparent;
  --border-color-dark: rgb(185, 137, 5);
}

/* Dark mode theme */
:root.dark-mode {
  --background-color: #050227;
  --text-color: white;
  --button-bg-color: #333;
  --button-text-color: #fff;
  --card-bg-color: #03095e;
  --border-color-dark: rgb(185, 137, 5);
  --card-gradient-dark: radial-gradient(circle at top left, rgba(7, 29, 226, 0.8), transparent 50%);
  --header-color-light: white;
  --header-bg-color-light: transparent;
}

/* Applying the variables globally */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.card-title {
  color: var(--border-color-dark);
}

.card-text {
  color: var(--text-color);
}

p {
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
}

.pagination,
.mat-mdc-select-value-text,
.mat-mdc-select-arrow-wrapper,
.mat-mdc-select-arrow {
  background-color: var(--card-bg-color) !important;
  color: var(--text-color) !important;
}

.mdc-notched-outline {
  border: 1px solid var(--text-color) !important;
}

button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input button:hover {
  background-color: var(--button-text-color);
}

/* Header styling */
.navbar {
  background-color: var(--card-bg-color);
  color: var(--header-color-light);
  
  // border-bottom: 2px solid yellow !important;
}

.list-unstyled li a {
  cursor: pointer;
}

.table-data {
  background-color: var(--card-bg-color);
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  border-radius: 0.25rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.table-data thead th {
  padding: 0.8rem;
  background-color: var(--border-color-dark);
}

.table-data tbody tr td {
  padding: 0.8rem;
}

.table {
  margin: 0;
}

.navbar-toggler {
  background-color: var(--button-bg-color);
  border: none;
}

.navbar-toggler-icon {
  background-image: none;
}

.navbar-brand {
  color: var(--header-color-light);
}

.navbar-nav .nav-link {
  color: var(--text-color);
}

.navbar-nav .nav-link:hover {
  color: var(--header-color-dark);
}

.card {
  background-color: var( --header-color-dark) ;
  position: relative;
  transition: background-image 0.5s ease-in-out, background-color 0.5s ease-in-out;
  // border-bottom-right-radius: 3rem;
  // border-top-left-radius: 3rem;
  border-radius: 1rem;
  border: none;
  padding: 20px;
}

.dark-mode .card {
  background-color: var(--card-bg-color) !important;
}

.dark-mode .navbar,
.dark-mode #sidebar {
  background-color: var(--card-bg-color) !important;
}

.dark-mode #sidebar {
  border-bottom: 2px solid var(--border-color-dark);
}

/* Styles for login and signup forms */
.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--card-bg-color);
}

.form-group {
  margin-bottom: 15px;
}

label {
  color: var(--text-color);
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
  background-color: var(--background-color) !important;
  color: var(--text-color);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: var(--header-color-dark);
}

.btn-submit {
  width: 100%;
}

/* Dark mode adjustments for the form */
.dark-mode .form-container {
  background-color: #1a1a1a;
}

.dark-mode input[type="text"],
.dark-mode input[type="email"],
.dark-mode input[type="password"] {
  background-color: #333;
  color: white;
  border: 1px solid #666;
}

.dark-mode input[type="text"]:focus,
.dark-mode input[type="email"]:focus,
.dark-mode input[type="password"]:focus {
  border-color: var(--header-color-dark);
}

/* Responsive styles */
@media (max-width: 768px) {
  #content {
    width: 100%;
    margin-top: 3.5rem !important;
    margin-left: 0rem !important;
  }

  .table-data {
    overflow-x: auto !important;
    overflow-y: hidden;
  }

  .navbar-brand {
    color: var(--header-color-light);
  }
}

/* Dropdown menu styles */
.dropdown-menu {
  background-color: var(--card-bg-color);
  border: none;
}

.dropdown-item {
  color: var(--text-color);
}

.dropdown-item:hover {
  background-color: var(--header-color-dark);
  color: var(--header-color-light);
}

/* Wrapper for sidebar and content */
.wrapper {
  display: flex;
  align-items: stretch;
  min-height: auto;
  overflow-y: auto;
}

#sidebar {
  position: fixed;
  width: 15rem;
  margin-top: 6.4rem;
  background-color: var(--card-bg-color);
  color: var(--text-color);
  transition: all 0.3s;
  height: 100vh;
  z-index: 1;
}

#sidebar.active {
  margin-left: -25rem;
}

.sidebar-header {
  padding: 20px;
  background: var(--header-bg-color-light);
  text-align: center;
}

.sidebar-header h3 {
  margin: 0;
  color: var(--header-color-light);
}

.sidebar-header strong {
  display: none;
  font-size: 2rem;
}

#sidebar ul.components {
  padding: 20px 0;
  list-style: none;
}

#sidebar ul li {
  padding: 10px;
  font-size: 1.2rem;
}

#sidebar ul li a {
  color: var(--text-color);
  display: block;
  text-decoration: none;
  transition: color 0.3s;
}

#sidebar ul li a:hover {
  color: var(--header-color-dark);
}

#sidebar ul li a i {
  margin-right: 10px;
}

#sidebar .list-unstyled.components li {
  padding: 10px 15px;  // Adjust as needed
}

#sidebar .list-unstyled.components li a {
  display: flex;
  align-items: center;
  padding: 10px 15px;  // Adjust as needed
 
}

#sidebar .list-unstyled.components li span {
  padding: 10px 15px; // Adjust as needed
}
#sidebar .list-unstyled.ps-4 li {
  padding: 8px 15px;  // Adjust padding as needed for submenu items
}

#content {
  margin-left: 8rem;
  margin-top: 4rem;
  flex-grow: 1;
  overflow-y: auto;
  height: auto;
  overflow: hidden;
  margin-bottom: 1rem;
}

#sidebarCollapse {
  margin-bottom: 20px;
}

#sidebar.active~#content {
  margin-left: 0;
}


/* Custom Toastr Styles */
.toast {
  /* Ensures toast notifications are on top of other elements */
  z-index: 9999;
  /* Adjust z-index if needed */
  width: auto;
  /* Set width to auto for dynamic sizing */
  max-width: 25rem !important;
  /* Optional: set a maximum width */
  word-wrap: break-word;
  /* Allows long words to wrap to the next line */
}


.toast-error {
  background-color: #82020f;
  color: #fff !important;
  border-radius: 8px;
  font-size: 16px;
  padding: 10px 20px;
}

/* Ensure the position remains fixed to top right */
.toast-top-right {
  top: 20px;
  /* Distance from top */
  right: 20px;
  /* Distance from right */
}

/* Progress bar styles */
.toast-progress {
  background-color: #fff !important;  /* Customize as needed */
  height: 4px !important;  /* Adjust height if it's too small */
}

.toast-bottom-center {
  bottom: 20px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  max-width: 90%; /* Ensures it doesn’t exceed screen width */
}

/* Optional: Customize the look of the toastr */
.toast-success {
  background-color: #28a745 !important; /* Subtle green for success */
  color: #fff !important;
  border-radius: 8px;
  font-size: 16px;
  padding: 10px 20px;
}

.toast-close-button {
  color: #fff !important;
}
/* Common styles for toastr notifications */
.toast-custom {
  display: flex;
  align-items: center;
  color: white !important;
}

/* Success Notification */
.toast-custom.toast-success {
  background-color: #28a745 !important;
}
.toast-custom.toast-success:before {
  content: '\f058'; /* Check-circle icon */
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  margin-right: 8px;
}

/* Error Notification */
.toast-custom.toast-error {
  background-color: #dc3545 !important;
}
.toast-custom.toast-error:before {
  content: '\f057'; /* Times-circle icon */
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  margin-right: 8px;
}

/* Info Notification */
.toast-custom.toast-info {
  background-color: #17a2b8 !important;
}
.toast-custom.toast-info:before {
  content: '\f05a'; /* Info-circle icon */
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  margin-right: 8px;
}


.cursor-pointer {
  cursor: pointer;
}